.ui.vertical.inverted.footer.segment#footer
  .ui.container
    .ui.stackable.divided.grid
      .four.wide.column
        img.ui.small.image(src='img/marca_UTP_notext.png')
      .four.wide.column
        p Universidad Tecnológica de Pereira
        p
          a(href='http://blog.utp.edu.co/dmutp/') Departamento de matemáticas
      .four.wide.column
        p PBX: +57 6 3137300
        p
          a(href='mailto:contactenos@utp.edu.co') contactenos@utp.edu.co
      .four.wide.column
        p Para ayuda con el sitio, por favor envíe un correo a
          a(href='mailto:sebasvega95@utp.edu.co')  sebasvega95@utp.edu.co
