p
  |  Si uno de los ángulos de un triángulo es 90° y otro es conocido, el tercer ángulo está fijo, puesto que la suma los tres ángulos de un triángulo siempre será igual a 180°. La forma del triángulo está completamente determinada por sus ángulos. Uno podría pensar que los lados del triángulo también determinan su forma, sin embargo, es fácil ver que escalar un triángulo no la altera.
img.ui.centered.image(src='img/trigonometry-intro/shape.jpg')
p
  |  Así, una vez los ángulos son conocidos, la <i>razón</i> de sus lados también, sin importar el tamaño de triángulo. Estas razones son dadas por las
  i  funciones triginométricas
  |  del ángulo conocido
  span.math \text{ }A
  |  donde
  span.math \text{ }a, b, \text{y } c
  |  son los lados del siguiente triángulo.
img.ui.centered.image(src='img/trigonometry-intro/triangle.png')
.ui.equal.width.grid
  .column
    .ui.piled.segment
      p
        |  La función
        b  seno
        |  (sin), definida como la razón del lado opuesto al ángulo con la hipotenusa.
        .math \sin{A} = \frac{\text{opuesto}}{\text{hipotenusa}} = \frac{a}{c}
  .column
    .ui.piled.segment
      p
        |  La función
        b  coseno
        |  (cos), definida como la razón del lado adyacente al ángulo con la hipotenusa.
        .math \cos{A} = \frac{\text{adyacente}}{\text{hipotenusa}} = \frac{b}{c}
  .column
    .ui.piled.segment
      p
        | La función
        b  tangente
        |  (tan), definida como la razón del lado opuesto al ángulo con el lado adyacente.
        .math \tan{A} = \frac{\text{opuesto}}{\text{adyacente}} = \frac{a}{c} = \frac{\sin{A}}{\cos{A}}
